.dew-diy {
  --dew-shift: filter 333ms;
  --dew-solar: #333;
  --dew-lunar: hotpink;
  --dew-locus: currentColor;
  --dew-focus: invert(100%);
  --dew-hover: hue-rotate(90deg);
  --dew-vapor: opacity(60%);
}

#am:target {
  --dew-solar: hotpink;
  --dew-lunar: #333;
}

html {
  font-family: sans-serif;
  font-size: calc(2ex + 1vw + 1vh);
}

body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  overflow-wrap: anywhere;
  counter-reset: a;
}

h1 {
  margin: 0;
  font: inherit;
}

a {
  counter-increment: a;
  font-weight: bold;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: thin groove;
  flex-basis: calc(100%/3);
  min-height: calc(100vmin/3);
  text-decoration-style: dashed;
}

a::before {
  padding: 1ex;
  content: counter(a);
}

@media (orientation: portrait) {
  body {
    writing-mode: vertical-lr;
  }

  a {
    min-width: calc(100vw/3);
  }
}
